<div class="scientists__heading">
  <img
    src="assets/icons/atom.svg"
    alt="Heading icon"
    class="scientists__heading-icon"
  >
  <h1>Scientists</h1>
</div>
<hr>
{{#each model as |scientist|}}
  <p>{{scientist.name}}</p>
{{/each}}
{{input value=newScientist}}
<button type="button" name="button" onclick={{action "addScientist"}}>Add</button>
